@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}
else if (Helpers != null )
{
    <ul class="list">
        @foreach (var helperx in Helpers)
        {
            <li role="presentation">
                
                <div class="card">
                    <CardContent Name="@helperx.Name"
                            Description="@helperx.Description"
                                  />
                   
                    <footer class="card-footer">

                        <ButtonFooter Class="delete-item"
                                      IconClasses="fas fa-trash"
                                      OnClick="@(async _ => await DeleteHelper.InvokeAsync(helperx))"
                                      Label="Delete" />

                        <ButtonFooter Class="edit-item"
                                      IconClasses="fas fa-edit"
                                      OnClick="@(async _ => await SelectHelper.InvokeAsync(helperx))"
                                      Label="Edit" />

                    </footer>

                </div>

            </li>
        }
    </ul>
}
else
{
    <div>Loading data...</div>
}
@code {
    [Parameter] public IEnumerable<Helper> Helpers { get; set; }
    [Parameter] public EventCallback<Helper> DeleteHelper { get; set; }
    [Parameter] public EventCallback<Helper> SelectHelper { get; set; }
    [Parameter] public string ErrorMessage { get; set; }
}