@page "/activity/{activityId:int}"
@inject HttpClient http
@inject NavigationManager navigation

@if (activity == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card edit-detail">
        <header class="card-header">
            <p class="card-header-title">
                @activity.Name
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                @if (activity.Id != 0)
                {
                    <label class="label" for="id">id</label>
                    <input name="id"
                           class="input"
                           value="@activity.Id"
                           readonly="readonly" />
                }
                <InputDetail Name="name"
                             Placeholder="Oranges"
                             @bind-Value="activity.Name" />
                <InputDetail Name="description"
                             Placeholder="box"
                             @bind-Value="activity.Description" />
                <div class="field">
                    <label class="label" for="quantity">
                        quantity
                    </label>
                    <input name="quantity"
                           class="input"
                           type="number"
                           min="1"
                           max="100"
                           value="@activity.Quantity"
                           placeholder="1"
                           @onchange="@(e => activity.Quantity = int.Parse(e.Value.ToString()))" />
                </div>
            </div>
        </div>
        <footer class="card-footer ">
            <ButtonFooter Class="cancel-button"
                          IconClasses="fas fa-undo"
                          OnClick="@CancelActivity"
                          Label="Cancel" />
            <ButtonFooter Class="save-button"
                          IconClasses="fas fa-save"
                          OnClick="@Save"
                          Label="Save" />
        </footer>
    </div>
}

@code {
    private Activity activity;

    [Parameter] public int ActivityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ActivityId == 0)
        {
            activity = new Activity();
        }
        else
        {
            var activitys = await http.GetFromJsonAsync<IEnumerable<Activity>>("api/activitys");
            activity = activitys.First(p => p.Id == ActivityId);
        }
    }

    private void CancelActivity()
    {
        navigation.NavigateTo("/");
    }

    private async Task Save()
    {
        if (activity.Id == 0)
        {
            await http.PostAsJsonAsync("api/activitys", activity);
        }
        else
        {
            await http.PutAsJsonAsync("api/activitys", activity);
        }
        navigation.NavigateTo("/activitys");
    }
}