@page "/helpers"
@inject HttpClient http
@inject NavigationManager navigation

@if (@helpers == null)
{
    <div>Loading data...ONE</div>
}
else {
<div class="content-container">
    <ListHeader Title="Helpers"
		HandleAdd="@AddNewHelper"
                HandleRefresh="@HandleRefresh"
                RoutePath="/helpers" />
    <div class="columns is-multiline is-variable">
        <div class="column is-8">
            <HelperList ErrorMessage="@errorMessage"
                         Helpers="@helpers"
                         SelectHelper="@SelectHelper"
                         DeleteHelper="@DeleteHelper" />
        </div>
    </div>

    <ModalYesNo Message="@modalMessage"
                    OnNo="@CloseModal"
                OnYes="@DeleteFromModal"
                Show="@showModal"/>
</div>
}

@code {
    private string errorMessage = "";
    private IEnumerable<Helper> helpers;
    private Helper helperToDelete;
    private bool showModal;
    private string modalMessage = "";


    protected override async Task OnInitializedAsync()
    {
        helpers = await http.GetFromJsonAsync<IEnumerable<Helper>>("api/helpers");

    }

    private void AddNewHelper()
    {
        navigation.NavigateTo("/helper/0");
    }

    private async Task HandleRefresh()
    {
        helpers = await http.GetFromJsonAsync<IEnumerable<Helper>>("api/helper");
    }

    private void SelectHelper(Helper helper)
    {
        navigation.NavigateTo($"/helper/{helper.Id}");
    }

    private void DeleteHelper(Helper helper)
    {
        helperToDelete = helper;
        showModal = true;
        modalMessage = $"Would you like to delete {helperToDelete.Name}";
    }

    private void CloseModal()
    {
        helperToDelete = null;
        showModal = false;
    }

    private async Task DeleteFromModal()
    {
        await http.DeleteAsync($"api/helpers/{helperToDelete.Id}");
        navigation.NavigateTo("/activitys");
        // The following refresh fails for some reason ??
        await HandleRefresh();
        helperToDelete = null;
        showModal = false;
    }
}