@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}
else if (Activitys != null )
{
    <ul class="list">
        @foreach (var activity in Activitys)
        {
            <li role="presentation">
                <div class="card">
                    <CardContent Name="@activity.Name"
                                 Description="@activity.Description" />

                    <footer class="card-footer">

                        <ButtonFooter Class="delete-item"
                                      IconClasses="fas fa-trash"
                                      OnClick="@(async _ => await DeleteActivity.InvokeAsync(activity))"
                                      Label="Delete" />

                        <ButtonFooter Class="edit-item"
                                      IconClasses="fas fa-edit"
                                      OnClick="@(async _ => await SelectActivity.InvokeAsync(activity))"
                                      Label="Edit" />

                    </footer>

                </div>

            </li>
        }
    </ul>
}
else
{
    <div>Loading data...</div>
}
@code {
    [Parameter] public IEnumerable<Activity> Activitys { get; set; }
    [Parameter] public EventCallback<Activity> DeleteActivity { get; set; }
    [Parameter] public EventCallback<Activity> SelectActivity { get; set; }
    [Parameter] public string ErrorMessage { get; set; }
}